<link rel="stylesheet" type="text/css" href="{$regionCss}" media="all" />
<script type="text/javascript" src="{$jqueryLib}"></script>
<style>
dl {
	margin-bottom:10px;
}

dl dt {
	background:#4876FF;
	color:#FFA500;
	float:left;
	font-weight:bold;
	margin-right:10px;
	width:25px;
}

dl dd {
	margin: 0 5px 0 auto;
	padding:0 0 2px auto;
	
	width:20px;
	display:inline;
}
#region_list {
	
}

a {
	font-size:12px;
}

#city_1 {
	display:inline;
	float:right;
	margin-right:20px;
}

#city_2{
	display:inline;
	margin-right:10px;
}

#province_list dl{
	display:inline;
	width:28px;
	margin:2px 10px 5px auto;
}

.red{
	color:red;
}
.important{
	font-weight:bold;
}
</style>

<div id="region_list">
	<h3>主要城市</h3>
	<div id="city_1">
	{foreach from=$mainCities item='cities' key='letter'}
		{if ord($letter) gt 75}
		<dl>
			<dt>{$letter}</dt>
			{foreach from=$cities item='city' key='ck'}
			<dd><a><font class="{if $city.isImpCity eq 1}red{/if}">{$city.city}</font></a></dd>
			{/foreach}
			
		</dl>
		{/if}
	{/foreach}
	</div>
	<div id="city_2">
	{foreach from=$mainCities item='cities' key='letter'}
		{if ord($letter) le 75}
		<dl>
			<dt>{$letter}</dt>
			{foreach from=$cities item="city" key="ck"}
			<dd><a><font class="{if $city.isImpCity eq 1}red{/if}">{$city.city}</font></a></dd>
			{/foreach}
			
		</dl>
		{/if}
	{/foreach}
	</div>

	<div id="province_list">
	<h3>所有省份</h3>
	<ul class="block-six">
		{foreach from=$provinces item="province" key="pk"}
				<li><a>{$province.province}</a></li>
		{/foreach}
	</ul>
	</div>
</div>
<script>
$(document).ready(function(){
	
})
</script>
