<link href="/ow_extends/bootstrap/css/bootstrap.css" type="text/css"
	rel="stylesheet">
{style}
{literal}
.main{
	margin:40px auto 0 auto;
	width:980px;
	
}
.header {
	height:120px;
	background:#000000;
}
.footer{
	height:120px;
	background:#000000;
}
.sigin-form{
	width:100%;
}
.content{
	margin-top:20px;
}
{/literal}
{/style}
<div class="container-fluid main">
	<div class="row-fluid header">
		
	</div>
	<div class="row-fluid content">
		<div class="span5">
			<div><font>还没有帐号?</font><a class="btn btn-large ">马上加入</a></div>
			<hr />
			<div><img src="/ow_static/plugins/base/img/girl.png" height="" /></div>
		</div>
		<div class="span7">
			<div class="sigin-form" >
				<p class="lead">“沦落人社区”是一个专为失恋的人提供的交友和倾诉的平台，让具有相同痛楚的人成为彼此的听众。</p>
				{form name='sign-in'}
				<fieldset>
					<table class="table" >
						<thead>
							<tr>
								<td colspan="2">{$siteName}-把你的故事，说给懂的人听</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td width="100"><label>用户名</label></td>
								<td>{input name='identity'
									style='width:200px;margin-bottom:5px;'}</td>
								<td></td>
							</tr>
							<tr>
								<td><label>密码</label></td>
								<td>{input name='password'
									style='width:200px;margin-bottom:5px;'}</td>
								<td></td>
							</tr>
							<tr>
								<td><label>{input name='remember'}<font>记住我</font></label></td>
								<td><a href="{url_for_route for='base_forgot_password'}">{text
										key='base+forgot_password_label'}</a></td>
							</tr>
							<tr>
								<td>{submit name='submit'}</td>
								<td>{text key='base+base_sign_in_or_label'} <a
									href="{$joinUrl}">{text key='base+join_submit_button_join'}</a>
								<td>
							</tr>

							<tr>
								<td>{component class='BASE_CMP_SignInButtonList'}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</fieldset>
				{/form}
			</div>
		</div>
	</div>
	<div class="row-fluid footer">
		
	</div>
</div>
