{style}
{literal}
dl {
	margin-bottom:50px;
}

dl dt {
	background:#4876FF;
	color:#FFA500;
	float:left;
	font-weight:bold;
	margin-right:10px;
	padding:5px;
	width:25px;
}

dl dd {
	margin:2px 0 2px auto;
	padding:5px 0 2px auto;
	
	width:20px;
	display:inline;
}

#city_1 {
	display:inline;
	float:right;
}
#city_2{
	display:inline;
}
{/literal}
{/style}

{script}
{literal}
$(".ow_header,.ow_footer,.ow_sidebar").remove();
{/literal}
{/script}
<div id="region_list">
	<div id="city_1">
	{foreach from=$mainCities item='cities' key='letter'}
		{if ord($letter) le 75}
		<dl>
			<dt>{$letter}</dt>
			{foreach from=$cities item='city' key='ck'}
			<dd><a>{$city.city}</a></dd>
			{/foreach}
			
		</dl>
		{/if}
	{/foreach}
	</div>
	<div id="city_2">
	{foreach from=$mainCities item='cities' key='letter'}
		{if ord($letter) gt 75}
		<dl>
			<dt>{$letter}</dt>
			{foreach from=$cities item='city' key='ck'}
			<dd><a>{$city.city}</a></dd>
			{/foreach}
			
		</dl>
		{/if}
	{/foreach}
	</div>
</div>
