{style}
{literal}
dl {
	margin-bottom:20px;
}

dl dt {
	background:#4876FF;
	color:#FFA500;
	float:left;
	font-weight:bold;
	margin-right:10px;
	padding:5px;
	width:25px;
}

dl dd {
	margin:2px 0 2px auto;
	padding:0 0 2px auto;
	
	width:20px;
	display:inline;
}

#city_1 {
	display:inline;
	float:right;
}
#city_2{
	display:inline;
}
#province_list dl{
	display:inline;
	width:28px;
	margin:2px 10px 5px auto;
}
#province_list {
	margin-top:50px;
	width:100%;
}
{/literal}
{/style}

{script}
{literal}
	$(document).ready(function(){
	$(".ow_header,.ow_footer,.ow_sidebar").remove();
	})
{/literal}
{/script}
<div id="region_list">
	<h3>主要城市</h3>
	<div id="city_1">
	{foreach from=$mainCities item='cities' key='letter'}
		{if ord($letter) gt 75}
		<dl>
			<dt>{$letter}</dt>
			{foreach from=$cities item='city' key='ck'}
			<dd><a>{$city.city}</a></dd>
			{/foreach}
			
		</dl>
		{/if}
	{/foreach}
	</div>
	<div id="city_2">
	{foreach from=$mainCities item='cities' key='letter'}
		{if ord($letter) le 75}
		<dl>
			<dt>{$letter}</dt>
			{foreach from=$cities item="city" key="ck"}
			<dd><a>{$city.city}</a></dd>
			{/foreach}
			
		</dl>
		{/if}
	{/foreach}
	</div>

	<div id="province_list">
	<h3>所有省份</h3>
	<ul class="block-six">
		{foreach from=$provinces item="province" key="pk"}
				<li><a>{$province.province}</a></li>
		{/foreach}
	</ul>
	</div>
</div>
